<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity=
        "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
    <title>Third Page</title>
</head>
<body>
    

    <form>

        <% for(var i=0;i<day.length;i++){ %>
     
           <% if(i===0){ %>
     
             <p><h1><%= day[i] %></h1></p>
     
           
         <% }else{ %>

         <span> 
          <%= day[i] %> <input type="checkbox" name="subject" id="<%=i%>" value="<%=day[i]%>">
         </span>

         <% } %>
                <br>
        <% } %>
        <input type="button" onclick="sub()" value="Submit" id="mybutton">
    </form>
    <script type="text/javascript">
        
        var values=[];
        var a;
        function check(value)
        {
            for(var i=0;i<values.length;i++)
            {
                if(values[i]===value)return false;
            }
            return true;
        }
      function sub()
      {
        let checkboxes = document.querySelectorAll('input[name="subject"]:checked');
           
            checkboxes.forEach((checkbox) => {
                if(check(checkbox.value)===true)
                {
                    values.push(checkbox.value);
                }
                
        });
            var a= JSON.stringify(values);
            console.log(a);
            $.post("/attendence",{

                datas:values

            })
     }
    



    </script>
</body>
</html>
